* {
	/* Applies to all SHARED modules */
    font-family: "FiraCodeNerdFont", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
	min-height: 0;
}

/* Small bar global */
#waybar.small-bar,
#waybar.small-bar * {
	font-size: 10px;
}

/* Big bar global */
#waybar.big-bar,
#waybar.big-bar * {
	font-size: 20px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.5);
    color: #E6E6FA;
}

/*
window#waybar.firefox {
	background-color: #ffff00;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: rgba(255,255,0,1);
    border: none;
}
*/

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    /*box-shadow: inset 0 -3px #ffffff;*/
}


/*Current window inforomation box*/
#window {
	background: #ececec;
	color: #000000;
	font-weight: bold;
}

	#waybar.small-bar #window {
		border-radius: 14px;
		padding: 0px 4px; /*Fit text inside*/
		margin: 4px 0px; /*thinner box*/
	}
	#waybar.big-bar #window {
		border-radius: 28px;
		padding: 0px 8px;
		margin: 8px 0px;
	}

#workspaces {
	border: 1px solid #EE82EE;
	border-radius: 14px;
	margin: 4px 4px;
	background: rgba(0, 0, 0, 1);
}

#workspaces button {
    background-color: transparent;
    color: #EE82EE;
	padding: 0px 0px;
	margin: 0px 0px;
	border-radius: 14px;
	font-weight: bold;
}

#workspaces button.empty {
	color: #410941;
}

#workspaces button:hover {
    background: #ececec;
	border-radius: 14px;
	color: #410941;
}

#workspaces button.focused {
    background-color: #64727D;
}

#workspaces button.urgent {
    color: #eb4d4b;
	padding: 0px 2px 0px 0px;
}

#workspaces button.active {
	font-weight: bold;
	color: #9E30EE;
	background-color: #E0B0FF;
	border-radius: 14px;
	padding: 0px 0px;
}

#mode {
    background-color: #64727D;
    /*border-bottom: 3px solid #ffffff;*/
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#brightness, /*Group*/
#network,
#pulseaudio,
#pulse, /*Group*/
#pulseaudio.mic,
#wireplumber,
#custom-media,
#keyboard-state,
#tray,
#mode,
#idle_inhibitor,
#custom-tailscale,
#scratchpad,
#mpris,
#custom-pacman,
#custom-weather,
#mpd {

color: #EE82EE;
background: #000000;
border: 1px solid #EE82EE;
font-style: normal;

padding: 0px 4px;
margin: 4px 0px;
border-radius: 14px;

}


/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
margin-right: 0;
}

#clock {
color: #ffffff;
border: 1px solid #ffffff;
font-weight: bold;
margin: 4px 4px 4px 0px;
}

#battery {
}

#battery.charging, #battery.plugged {
color: #26A65B;
border-color: #26A65B;
}

@keyframes blink {
to {
	color: #f53c3c;
	border-color: #f53c3c;
}
}

#battery.critical:not(.charging) {
animation-name: blink;
animation-duration: 0.5s;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-direction: alternate;
}

#battery.warning:not(.charging) {
color: #ecec00;
border-color: #ecec00;
}

label:focus {
background-color: #000000;
}

#cpu {
color: #ffffff;
margin: 2px 2px 2px 0px;
padding: 0px 8px 0px 2px;
}

#memory {
color: #ffffff;
margin: 2px 2px 2px 0px;
padding: 0px 8px 0px 2px;
}

#disk {
background-color: #bfcfdf;
color: #000000;
}

#brightness {
padding: 0px;
}
#backlight {
margin: 0px;
padding: 0px 6px 0px 4px;
border: 0;
}
#backlight-slider {
	background: transparent;
	margin: 0px 4px;
	padding: 0px;
}
#backlight-slider slider {
	min-height: 6px;
	min-width: 6px;
	border-radius: 50%;
	margin: -5px -5px;
	background: #fff;
}
#backlight-slider trough {
	min-height: 2px;
	min-width: 50px;
	border-radius: 8px;
	background: #000000;
	padding: 0px 4px 0px 0px;
}
#backlight-slider highlight {
	border-radius: 2px;
	/*border-color: #EE82EE;*/
	border: 0;
	background: #EE82EE;
}

#network {
}

#network.disconnected {
color: #f53c3c;
border-color: #f53c3c;
padding: 0px 8px 0px 4px;
}

#pulse {
padding: 0px;
}
#pulseaudio {
margin: 0px;
border: 0px;
padding: 0px 6px 0px 4px;
}
#pulseaudio-slider {
	background: transparent;
	margin: 0px 4px;
		padding: 0px;
	}
	#pulseaudio-slider slider {
		min-height: 6px;
		min-width: 6px;
		border-radius: 50%;
		margin: -5px -5px;
		background: #fff;
	}
	#pulseaudio-slider trough {
		min-height: 2px;
		min-width: 50px;
		border-radius: 8px;
		background: #000000;
		padding: 0px 4px 0px 0px;
	}
	#pulseaudio-slider highlight {
		border-radius: 2px;
		/*border-color: #EE82EE;*/
		border: 0;
		background: #EE82EE;
	}


#pulseaudio.bluetooth {
}

#pulseaudio.muted {
    color: #ff3333;
	border-color: #ff3333;
	padding: 0px 4px;
}

#pulseaudio.mic {
	color: #EE82EE;
	border-color: #EE82EE;
	padding: 0px 5px 0px 5px;
}

#pulseaudio.mic.source-muted {
	color: #ff3333;
	border-color: #ff3333;
	padding: 0px 8px 0px 2px;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
}

#temperature.critical {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
	border: 1px solid #ececec;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
	margin: 2px 2px 2px 0px;
	padding: 0px 3px 0px 2px;
}

#idle_inhibitor.activated {
    background-color: rgba(256, 256, 256, 0.6);
    color: #000000;
	margin: 2px 2px 2px 0px;
	padding: 0px 3px 0px 2px;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpris {
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#custom-tailscale {
	color: #ececec;
	border: 1px solid #ececec;
}

#keyboard-state {
	border: 0;
	background: transparent;
	padding: 0;
	margin: 0;
}

#keyboard-state label.locked {
	color: #ff3333;
	padding: 0px 4px;
}

#scratchpad {
    background: #ffffff;
}

#scratchpad.empty {
	background-color: transparent;
}

#waybar.small-bar #custom-arch {
	font-size: 15px;
	color: #1793d1;
	padding: 0px 5px 0px 4px; /*Make up for icon size*/ /*Move from window edge*/
}
#waybar.big-bar #custom-arch {
	font-size: 30px;
	color: #1793d1;
	padding: 0px 10px 0px 0px; /*Make up for icon size*/
}

#custom-pacman {
	padding-right: 10px;
}

